<div class="p-12">
    <p class="text-center font-bold text-2xl">Quản lý công việc</p>
    <div>
        <p-tabMenu #menuItems [model]="items" [activeItem]="activeItem" (click)="activateMenu()">
            <ng-template pTemplate="item" let-item let-i="index">
                {{ item.label}}
            </ng-template>
        </p-tabMenu>
    </div>
    <div *ngIf="activeItem.id === '1'">
        <app-list-job></app-list-job>
    </div>
    <div *ngIf="activeItem.id === '2'">
        <app-list-event></app-list-event>
    </div>
</div>