<p-toast></p-toast>
<div *ngIf="isLoading">
    <app-loading-screen></app-loading-screen>
</div>

<div *ngIf="!isLoading" class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['title']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Quản lý bài viết</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Tiêu đề..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th pSortableColumn="title">Tiêu đề<p-sortIcon field="title"></p-sortIcon>
                </th>
                <th>Người tạo
                </th>
                <!-- <th pSortableColumn="rating">Trạng thái
                </th> -->
                <th pSortableColumn="reaction">Lượng yêu thích<p-sortIcon field="reaction"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <!-- <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td> -->
                <td>{{product.title}}</td>
                <td>{{product.author}}</td>
                <!-- <td><span [class]="'product-badge status-' + product.status.toLowerCase()">{{product.status}}</span>
                </td> -->
                <td>{{product.reaction}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Có tổng cộng {{products ? products.length : 0 }} bài viết.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <p>Tiêu đề</p>
            <input type="text" pInputText [(ngModel)]="product.title" autofocus />
            <small class="p-invalid text-red-500" *ngIf="submitted && !product.title">Vui lòng nhập tiêu đề.</small>
            <p>Nội dung</p>
            <input type="text" pInputText [(ngModel)]="product.content" />
            <small class="p-invalid text-red-500" *ngIf="submitted && !product.content">Vui lòng nhập nội dung.</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>