<div class="card">

    <p-fileUpload #fileUpload mode="basic" accept="application/*" (onSelect)="onUpload($event)" [chooseLabel]="'Tải lên CV'">
    </p-fileUpload>
    <p-table [value]="listCV">
        <ng-template pTemplate="header">
            <tr>
                <th>Tên File
                </th>
                <th>Ngày Tải
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.createDAte}}</td>
                <td>
                    <a [href]="product.path" class="text-blue-200 cursor-pointer mr-4"
                    >View CV</a>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedProducts(product.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>