<form [formGroup]="childForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <textarea class="form-control w-full" pInputTextarea placeholder="Gửi phản hồi..." formControlName="comment" [ngClass]="{ 'ng-invalid ng-dirty': submitted && childForm.controls['comment'].errors }"></textarea>
        <div class="p-error font-bold text-xs" *ngIf="submitted && childForm.controls['comment'].errors">
            <div *ngIf="childForm.controls['comment'].errors.required">Comment is required</div>
        </div>
    </div>
    <div class="form-group mb-3">
        <button type="submit" class="btn btn-success">Phản hồi</button>
    </div>
</form>