<app-header></app-header>

<div class="bg-gray-100 px-48">
    <div class="px-40 bg-white" style="
    min-height: calc(100vh - 90px);">
        <p class="text-center font-bold text-2xl py-10">Danh sách môn học</p>
        <div class="w-full bg-orange-500 rounded-xl h-10 text-white text-2xl">
            <i class="fas fa-angle-left mt-2 ml-3 cursor-pointer"></i>
            <div class="inline-flex w-11/12 place-content-center">
                <p-dropdown [options]="semesters" [(ngModel)]="selectedSemester" placeholder="Vui lòng chọn kỳ" optionLabel="name" [showClear]="true" >
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value">
                            <div>Kỳ {{selectedSemester}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-semester pTemplate="item">
                        <div class="country-item">
                            <div>Kỳ {{semester.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <i class="fas fa-angle-right float-right mt-2 mr-3 cursor-pointer"></i>
        </div>
    </div>
</div>