<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <div class="p-mr-2">
                <p-fileUpload #fileUpload mode="basic" (onSelect)="onUpload($event)" [chooseLabel]="'Tải lên tài liệu'">
                </p-fileUpload>
            </div>
            <button pButton pRipple label="Xóa tài liệu" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>

        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="courseResources" [rows]="10" [paginator]="true" [globalFilterFields]="['name','author','status']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Quản lý Tài Nguyên Môn Học</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Tên file<p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="price">Ngày đăng<p-sortIcon field="name"></p-sortIcon></th>
                <th>Tải xuống</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.file.name}}</td>
                <td>{{product.file.createDAte}}</td>
                <td>
                    <p >
                        <a [href]="product.file.path" class="text-blue-300 cursor-pointer mr-4"
                    >View</a>
                        <a class="fa fa-download cursor-pointer"></a>
                    </p>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Có tổng cộng {{products ? products.length : 0 }} môn học.
            </div>
        </ng-template>
    </p-table>
</div>