<div  *ngIf="!isLoading" class="card">

    <p-toast></p-toast>
    <button *ngIf="role==='INSTRUCTOR'" pButton pRipple label="{{'Tạo sự kiện cho môn học'}}" icon="pi pi-plus"
        class="p-button-success p-mr-2" (click)="showDialog()"></button>
    <p-table #dt [value]="listSchedule" [rows]="10" [paginator]="true" [globalFilterFields]="['title']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Tên sự kiện..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title">Tên sự kiện<p-sortIcon field="title"></p-sortIcon>
                </th>
                <th>Nội dung
                </th>
                <th>Người tạo
                </th>
                <th class="w-1/6">Thời gian bắt đầu
                </th>
                <th class="w-1/6">Thời gian kết thúc
                </th>
                <th>Trạng thái
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.title}}</td>
                <td>{{product.content}}</td>
                <td class="truncate">{{product.createdBy}}</td>
                <td>{{product.startTime}}</td>
                <td>{{product.endTime}}</td>
                <td>{{product.status}}</td>
                <td>
                    <button *ngIf="product.createdBy!==email" class="btn" (click)="joinEvent(product.id)">Tham gia sự
                        kiện</button>
                    <button *ngIf="product.createdBy===email" class="btn" (click)="viewDetail(product.id)">Xem chi
                        tiết</button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Có tổng cộng {{listSchedule ? listSchedule.length : 0 }} sự kiện.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [header]="'Tạo sự kiện cho môn học'" [(visible)]="isDisplay" [modal]="true" [dismissableMask]="true"
    [style]="{ 'min-width': '30vw'}" [contentStyle]="{minHeight: '550px'}">
    <div class="p-fluid p-grid p-formgrid mt-2">
        <div class="p-field p-col-12 p-md-4">
            <input pInputText [(ngModel)]="event.title" [placeholder]="'Tiêu đề sự kiện'" />
        </div>
        <div class="p-field p-col-12 p-md-4">
            <p-calendar [(ngModel)]="startTime" [showTime]="true" dateFormat="dd-mm-yy"
                [placeholder]="'Thời gian bắt đầu sự kiện'" [showIcon]="true"></p-calendar>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <p-calendar [(ngModel)]="endTime" [showTime]="true" dateFormat="dd-mm-yy" [showIcon]="true"
                [placeholder]="'Thời gian kết thúc sự kiện'"></p-calendar>
        </div>
        <div class="p-field p-col-12 p-md-12">
            <textarea pInputTextarea style="min-height: 100px" [placeholder]="'Nội dung sự kiện'"
                [(ngModel)]="event.content"></textarea>
        </div>
        <div class="p-field p-col-12 p-md-12">
            <button class="btn items-center" (click)="addEvent()">Tạo sự kiện</button>
        </div>
    </div>
</p-dialog>
<p-dialog *ngIf="!isLoading" [header]="'Chi tiết sự kiện'" [(visible)]="isDisplayDetail" [modal]="true" [dismissableMask]="true"
    [style]="{ 'min-width': '30vw'}" [contentStyle]="{minHeight: '550px'}">
    <p-tabView>
        <p-tabPanel header="Chi tiết">
            <div *ngIf="scheduleId">
                <div class="flex mb-3">
                    <p class="font-bold">Tiêu đề:</p>
                    <p>{{schedule.title}}</p>
                </div>
                <div class="flex mb-3">
                    <p class="font-bold">Nội dung:</p>
                    <p>{{schedule.content}}</p>
                </div>
                <div class="flex mb-3">
                    <p class="font-bold">Thời gian bắt đầu:</p>
                    <p>{{schedule.startTime}}</p>
                </div>
                <div class="flex mb-3">
                    <p class="font-bold">Thời gian kết thúc:</p>
                    <p>{{schedule.endTime}}</p>
                </div>
                <div class="flex mb-3">
                    <p class="font-bold">Người tạo:</p>
                    <p>{{schedule.createdBy}}</p>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Danh sách sinh viên tham gia">
            <div *ngFor="let user of listUser" class="font-bold mb-2">
                {{user.email}}
            </div>
        </p-tabPanel>
    </p-tabView>
        
        <div>
        </div>
</p-dialog>