<p-toast></p-toast>
<p-confirmDialog 
    [style]="{width: '450px'}" 
    acceptLabel="Đồng ý" 
    rejectLabel="Hủy"
    acceptButtonStyleClass="p-button-text"
></p-confirmDialog>
<app-header></app-header>
<div *ngIf="isLoading">
    <app-loading-screen></app-loading-screen>
</div>
<div class="w-full h-screen bg-gray-100">
    <div class="w-4/5 h-full m-auto bg-white py-10 px-8 border-l-2 border-r-2 border-solid border-gray-200"
        style="min-height: 700px">
        <div class="w-4/5 m-auto relative">
            <div class="absolute right-0">
                <p-menu class="left-0 top-0" #menu [popup]="true" [model]="items"></p-menu>
                <button 
                    class="pButton rounded-full px-1 text-2xl
                        hover:bg-gray-200 transition-all"
                    (click)="menu.toggle($event)"
                >
                    <i class="fas fa-ellipsis-h"></i>
                </button>
            </div>
            
            <p class="font-bold">{{blog.title}}</p>
            <p class="font-light mb-2">22/02/2022</p>
            <div class="flex my-4">
                <img class="mr-3" width="30" height="30" src="../../../../assets/img/member-avatar-01.png" />
                <a class="font-bold">{{blog.authorId}}</a>
            </div>
            <div>
                <!-- <img class="my-0 mx-auto" width="400" height="200" src="../../../../assets/img/daihocfpt.jpg" /> -->
            </div>
            <span class="w-full break-all">{{blog.content}}</span>
            <div class="text-sm font-bold mt-3 ">
                <span class="mr-2">
                    <i class="fas fa-heart text-red-500"></i>
                    {{ blog.reaction == null ? '0' : blog.reaction }} lượt thích
                </span>
                <!-- <span>
                    <i class="fas fa-comment"></i>
                    ... Comment
                </span> -->
            </div>
            <div class="border-b-2 border-t-2 border-solid border-gray-500 p-4">
                <span [ngClass]="{'text-red-500': isLike}" class="cursor-pointer mr-7" (click)="reaction()">
                    <i class="fas fa-heart"></i>
                    Thích
                </span>
                <span class="cursor-pointer">
                    <i class="fas fa-comment"></i>
                    Bình luận
                </span>
            </div>
            <div class="mt-4 w-full">
                <!-- <div class="flex ">
                    <img class="mr-3" width="30" height="30" src="../../../../assets/img/member-avatar-01.png" />
                    <span class="p-input-icon-right w-full">
                        <i class="pi pi-send"></i>
                        <input type="text" placeholder="Viết bình luận..." class="w-full" pInputText
                            [(ngModel)]="comment">
                    </span>
                </div>
                <div class="flex mt-4">
                    <img class="mr-3" width="30" height="30" src="../../../../assets/img/member-avatar-02.png" />
                    <p class="font-bold">{{blog.authorId}}</p>
                </div> -->
                <app-comment [isBlog]="true" [id]="id"></app-comment>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <p>Tiêu đề</p>
            <input type="text" pInputText [(ngModel)]="blog.title" autofocus />
            <small class="p-invalid text-red-500" *ngIf="submitted && !blog.title">Vui lòng nhập tiêu đề.</small>
            <p>Nội dung</p>
            <textarea class="h-60" type="text" pInputTextarea [(ngModel)]="blog.content" ></textarea>
            <small class="p-invalid text-red-500" *ngIf="submitted && !blog.content">Vui lòng nhập nội dung.</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" (click)="updateBlog()"></button>
    </ng-template>
</p-dialog>