<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
        (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>
  </p-toolbar>
  <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['name','email','status']"
    [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Accounts</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="name">Tên<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="category">Số điện thoại<p-sortIcon field="author"></p-sortIcon>
        </th>
        <th pSortableColumn="status">Trạng thái<p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="inventoryStatus">Vai trò<p-sortIcon field="event"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{product.email}}</td>
        <td>{{product.name}}</td>
        <td>{{product.phone}}</td>
        <td><span [class]="'product-badge status-' + product.status.toLowerCase()">{{product.status}}</span></td>
        <td>{{product.role.name}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editProduct(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteProduct(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Có tổng cộng {{products ? products.length : 0 }} môn học.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <!-- Create -->
    <div *ngIf="dialogType === 'create'" class="p-field">
      <p>Email</p>
      <input type="text" pInputText [(ngModel)]="email" autofocus />
      <small class="p-invalid text-red-500" *ngIf="submitted && !email">Vui lòng email.</small>
      <p>Mật khẩu</p>
      <input type="password" pInputText [(ngModel)]="password" />
      <small class="p-invalid text-red-500" *ngIf="submitted && !password">Vui lòng nhập mật khẩu.</small>
      <p>Nhập lại mật khẩu</p>
      <input type="password" pInputText [(ngModel)]="confirmPassword" />
      <small class="p-invalid text-red-500" *ngIf="(submitted && !confirmPassword) || confirmPassword != password">Mật khẩu không khớp nhau.</small>
      <p>Vai trò</p>
      <p-dropdown [options]="roles" 
      [(ngModel)]="selectedRole" 
      placeholder="Chọn vai trò" 
      optionLabel="name" 
      [showClear]="true"
      ></p-dropdown>
      <small class="p-invalid text-red-500" *ngIf="submitted && !selectedRole">Vui lòng chọn vai trò.</small>
    </div>
    <!-- End Create -->
    <!-- Edit -->
    <div *ngIf="dialogType === 'edit'" class="p-field">
      <p>Vai trò</p>
      <p-dropdown [options]="roles" 
      [(ngModel)]="selectedRole" 
      placeholder="Chọn vai trò"
      optionLabel="name" 
      [showClear]="true"
      >
      <!-- <ng-template let-option pTemplate="selectedItem">
        <div>{{ option.name }}</div>
      </ng-template>
      <ng-template let-option pTemplate="item">
        <div>{{ option.name }}</div>
      </ng-template> -->
      </p-dropdown>
    </div>
    <!-- End Edit -->

  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>