<app-header></app-header>
<p-toast></p-toast>
<div class="bg-gray-100 px-48">
    <div class="px-40 bg-white" style="min-height: calc(100vh - 90px);">
        <div class=" border-2 border-gray-200 ">
            <div class="border-b-2 w-full flex">
                <div class="border-r-2 w-1/3 relative cursor-pointer">
                    <img alt="" class="px-16 py-2" src="../../../assets/img/avatar.jpg" />
                </div>
                <div class="w-2/3 p-10 self-center">
                    <p class="font-bold text-xl">{{courseDetail.code}}</p>
                    <p>{{courseDetail.name}}</p>
                </div>
            </div>
            <div class="w-full">
                <p-tabView>
                    <p-tabPanel header="Tài liệu môn học">
                        <app-course-resource></app-course-resource>
                    </p-tabPanel>
                    <p-tabPanel header="Q&A">
                        <app-course-q></app-course-q>
                    </p-tabPanel>
                    <p-tabPanel header="Sự kiện môn học">
                        <button pButton pRipple label="{{role==='student'?'Tham gia sự kiện':'Tạo sự kiện cho môn học'}}" icon="pi pi-plus"
                            class="p-button-success p-mr-2" (click)="addEvent()"></button>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>