<app-header></app-header>
<p-toast></p-toast>
<div *ngIf="isLoading">
    <app-loading-screen></app-loading-screen>
</div>
<div class="w-full h-screen m-auto bg-gray-100">
    <div class="w-4/5 h-full m-auto bg-white" style="min-height: calc(100vh - 90px);">
        <div class="w-4/5 m-auto">
            <div class="border-2 border-gray-200 mt-10">
                <div class="border-b-2 w-full flex">
                    <div class="border-r-2 w-1/3 relative cursor-pointer" style="background: #006E5E">
                        <!-- <img alt="" class="px-16 py-2" src="../../../assets/img/avatar.jpg" /> -->
                        <p class="text-center text-5xl font-bold py-24 text-white">
                            {{courseDetail.name.charAt(0).toUpperCase()}}
                        </p>
                    </div>
                    <div class="w-2/3 p-10 self-center">
                        <p class="font-bold text-xl">{{courseDetail.code}}</p>
                        <p>{{courseDetail.name}}</p>
                    </div>
                </div>
                <div class="w-full">
                    <p-tabView>
                        <p-tabPanel header="Tài liệu môn học">
                            <app-course-resource></app-course-resource>
                        </p-tabPanel>
                        <p-tabPanel header="Q&A">
                            <app-course-q></app-course-q>
                        </p-tabPanel>
                        <p-tabPanel header="Sự kiện môn học">
                            <app-course-event></app-course-event>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>