<app-header></app-header>

<div class="bg-gray-100 w-full">
    <div class="w-4/5 m-auto bg-white" style="min-height: calc(100vh - 90px);">
        <p class="text-center font-bold text-2xl py-10">Danh sách môn học</p>
        <div class="w-4/5 m-auto bg-orange-500 rounded-xl h-auto text-white text-xl">
            <!-- <i class="fas fa-angle-left mt-3 ml-3 cursor-pointer"></i> -->
            <div class="inline-flex w-full place-content-center p-2">
                <p-dropdown
                    [options]="semesters" 
                    [(ngModel)]="selectedSemester" 
                    placeholder="Vui lòng chọn kỳ" 
                    optionLabel="name" 
                    [showClear]="true" 
                >
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value">
                            <div>Kỳ {{selectedSemester.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-semester pTemplate="item">
                        <div class="country-item">
                            <div>Kỳ {{semester.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <!-- <i class="fas fa-angle-right float-right mt-2 mr-3 cursor-pointer"></i> -->
        </div>
        <div class="w-4/5 m-auto border-gray-200 grid grid-cols-3 gap-8 py-4">
            <div class="rounded-2xl border-2 hover:shadow-2xl transition-shadow">
                <div class="width-full max-h-64 overflow-hidden rounded-t-xl bg-orange-500">
                    <img class="w-full" src="../../../assets/img/member-avatar-02.png" />
                </div>
                <div class="width-full h-20 overflow-hidden p-3">
                    <p class="truncate font-bold">HCM201</p>
                    <p class="truncate">Ho Chi Minh Ideology aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
            <!--Sample data-->
            <div class="rounded-2xl border-2 hover:shadow-2xl transition-shadow">
                <div class="width-full max-h-64 overflow-hidden rounded-t-xl bg-orange-500">
                    <img class="w-full" src="../../../assets/img/daihocfpt.jpg" />
                </div>
                <div class="width-full h-20 overflow-hidden p-3">
                    <p class="truncate font-bold">HCM201</p>
                    <p class="truncate">Ho Chi Minh Ideology aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
            <div class="rounded-2xl border-2 hover:shadow-2xl transition-shadow">
                <div class="width-full max-h-64 overflow-hidden rounded-t-xl bg-orange-500">
                    <img class="w-full" src="../../../assets/img/member-avatar-01.png" />
                </div>
                <div class="width-full h-20 overflow-hidden p-3">
                    <p class="truncate font-bold">HCM201</p>
                    <p class="truncate">Ho Chi Minh Ideology aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
            <div class="rounded-2xl border-2 hover:shadow-2xl transition-shadow">
                <div class="width-full max-h-64 overflow-hidden rounded-t-xl bg-orange-500">
                    <img class="w-full" src="../../../assets/img/member-avatar-02.png" />
                </div>
                <div class="width-full h-20 overflow-hidden p-3">
                    <p class="truncate font-bold">HCM201</p>
                    <p class="truncate">Ho Chi Minh Ideology aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
            <div class="rounded-2xl border-2 hover:shadow-2xl transition-shadow">
                <div class="width-full max-h-64 overflow-hidden rounded-t-xl bg-orange-500">
                    <img class="w-full" src="../../../assets/img/daihocfpt.jpg" />
                </div>
                <div class="width-full h-20 overflow-hidden p-3">
                    <p class="truncate font-bold">HCM201</p>
                    <p class="truncate">Ho Chi Minh Ideology aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
            <div class="rounded-2xl border-2 hover:shadow-2xl transition-shadow">
                <div class="width-full max-h-64 overflow-hidden rounded-t-xl bg-orange-500">
                    <img class="w-full" src="../../../assets/img/member-avatar-01.png" />
                </div>
                <div class="width-full h-20 overflow-hidden p-3">
                    <p class="truncate font-bold">HCM201</p>
                    <p class="truncate">Ho Chi Minh Ideology aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
            <!--End sample data-->
        </div>
    </div>
    
</div>