<p-toast></p-toast>
<div *ngIf="isLoading">
  <app-loading-screen></app-loading-screen>
</div>
<div *ngIf="!isLoading" class="card">
  <p class="text-center font-bold text-2xl mb-10">Quản lý công việc</p>
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
        (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>
  </p-toolbar>
  <p-table #dt [value]="products" [rows]="10" [paginator]="true" [(selection)]="selectedProducts" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Hiển thị {last}/{totalRecords} công việc" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Quản lý công việc</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Mã công việc</th>
        <th pSortableColumn="price">Tiêu đề</th>
        <th pSortableColumn="category">Người tạo</th>
        <th pSortableColumn="rating">Trạng thái</th>
        <th pSortableColumn="inventoryStatus">Khu vực làm việc</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{product.id}}</td>
        <td>{{product.title}}</td>
        <td>{{product.user.email}}</td>
        <td><span [class]="'product-badge status-' + product.status.toLowerCase()">{{product.status}}</span>
        </td>
        <td>{{product.city}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editProduct(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteProduct(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Có tổng cộng {{products ? products.length : 0 }} bài viết.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="py-4">
        <p class="font-bold">Tiêu đề<span class="text-red-500">*</span>:</p>
        <input class="w-full" type="text" pInputText [(ngModel)]="product.title" autofocus
          placeholder="Ex: Sr. Python Dev – Signing Bonus Up to 50M" />
        <small class="p-invalid text-red-500" *ngIf="submitted && !product.title">Vui lòng nhập tiêu đề.</small>
      </div>
      <div class="py-4">
        <p class="font-bold">Nội dung<span class="text-red-500">*</span>:</p>
        <textarea pInputTextarea class="w-full" [(ngModel)]="product.content"></textarea>
        <small class="p-invalid text-red-500" *ngIf="submitted && !product.content">Vui lòng nhập nội dung.</small>
      </div>
      <div class="py-4">
        <p class="font-bold">Địa điểm làm việc<span class="text-red-500">*</span>:</p>
        <input class="w-full" type="text" pInputText [(ngModel)]="product.city" placeholder="Ex: Ho Chi Minh city" />
        <small class="p-invalid text-red-500" *ngIf="submitted && !product.city">Vui lòng nhập địa điểm làm
          việc.</small>
      </div>
      <div class="py-4">
        <p class="font-bold">Địa chỉ cụ thể<span class="text-red-500">*</span>:</p>
        <input class="w-full" type="text" pInputText [(ngModel)]="product.address"
          placeholder="Ex: FPT Software Đường D1 Phường Tân Phú , District 9, Ho Chi Minh City" />
        <small class="p-invalid text-red-500" *ngIf="submitted && !product.address">Vui lòng nhập địa chỉ cụ
          thể.</small>
      </div>
      <div class="py-4">
        <p class="font-bold">E-mail liên hệ<span class="text-red-500">*</span>:</p>
        <input class="w-full" type="text" pInputText [(ngModel)]="product.mail" placeholder="Ex: abc@gmail.com" />
        <small class="p-invalid text-red-500" *ngIf="submitted && !product.mail">Vui lòng nhập e-mail liên hệ.</small>
      </div>
      <div class="py-4">
        <p class="font-bold">Số điện thoại liên hệ<span class="text-red-500">*</span>:</p>
        <input class="w-full" type="text" pInputText [(ngModel)]="product.phoneNumber" placeholder="Ex: 0987654321" />
        <small class="p-invalid text-red-500" *ngIf="submitted && !product.phoneNumber">Vui lòng nhập số điện thoại liên
          hệ.</small>
      </div>
      <div class="pt-4 pb-20">
        <p class="font-bold">Trạng thái tuyển dụng<span class="text-red-500">*</span>:</p>
        <p-dropdown [options]="listStatus" [(ngModel)]="status" placeholder="Vui lòng chọn trạng thái tuyển dụng"
          optionLabel="name" [showClear]="true"></p-dropdown>
        <small class="p-invalid text-red-500" *ngIf="submitted && !status">Vui lòng chọn trạng thái.</small>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>