<div class="header">
    <div>
        <a href="/home">
            <img class="left-12 top-0 w-full h-full" src="../../../assets/img/logo-daihoc-padding.png" />
        </a>
    </div>
    <div class="ml-16 self-center w-full">
        <nav class="flex items-center">
            <ul class="w-4/5">
                <li class="">
                    <a href="/home">Trang chủ</a>
                </li>
                <li class="">
                    <a href="/course">Danh sách môn học</a>
                </li>
                <li class="">
                    <a href="/blog">Blog</a>
                </li>
                <li class="">
                    <a href="/job">Chương trình tuyển dụng</a>
                </li>
                <li *ngIf="currentRole !== 'STUDENT' && currentRole !== 'INSTRUCTOR'" class="">
                    <a href="/{{managementLink}}">Quản lý</a>
                </li>
            </ul>
            <ul class="items-center flex text-orange-500 w-1/5 justify-end">
                <!-- <li>
                    <i class="fa fa-bell"></i>
                </li> -->
                <li style="padding-left: 0px !important;">
                    <div class="px-4 overflow-hidden relative flex justify-center cursor-pointer bg-white" 
                    (click)="menu.toggle($event)"
                    style="height: 89px">
                        <p class="flex items-center  ">
                            <span class="text-center text-2xl font-bold px-6 py-10 "
                                >
                                {{avatarText}}
                            </span>
                            <!-- <img width="40px"  src="../../../assets/img/avatar.jpg" alt="" class="rounded-md"/> -->
                            <i class="pi pi-angle-down ml-2"></i>
                        </p>
                    </div>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- <p>{{ "name" | translate }}</p> -->
<!-- <select #selectedLang (change)="switchLang(selectedLang.value)">
    <option
      *ngFor="let language of translate.getLangs()"
      [value]="language"
      [selected]="language === translate.currentLang"
    >
      {{ language }}
    </option>
  </select> -->